<div *ngIf="PhysicsConfig">
  <button mat-button [ngClass]="{
        'is-start':true,
        'is-inactive': PhysicsConfig.TimeLapseSpeed==0}" ng-show (click)="startSorter(1)"><mat-icon>play_arrow</mat-icon></button>
  <button mat-button color="warn" [ngClass]="{
          'is-stop':true,
          'is-inactive': PhysicsConfig.TimeLapseSpeed>0}" (click)="startSorter(0)"><mat-icon>stop</mat-icon></button>

  <button mat-button [ngClass]="{
          'is-inactive': PhysicsConfig.TimeLapseSpeed==0}"
    (click)="startSorter(PhysicsConfig.TimeLapseSpeed*0.5)"><mat-icon>fast_rewind</mat-icon></button>
  <button mat-flat-button>{{PhysicsConfig.TimeLapseSpeed}}x</button>
  <button mat-button [ngClass]="{
       'button':true,
       'is-inactive': PhysicsConfig.TimeLapseSpeed==0}" ng-show
    (click)="startSorter(PhysicsConfig.TimeLapseSpeed*2)"><mat-icon>fast_forward</mat-icon></button>

</div>
<div>
  <input matInput [(ngModel)]="BarcodeToRead" placeholder="Barcode to read" />
  <input matInput [(ngModel)]="WeightToWeigh" placeholder="Weight to weigh" />
  <input matInput [(ngModel)]="SorterProportion" placeholder="Sorter Proportion" />
  <input matInput [(ngModel)]="TranslateX" placeholder="Translate X" />
  <input matInput [(ngModel)]="TranslateY" placeholder="Translate Y" />
</div>
<mat-card class="sorter-area-container">
  <svg class="sorter-area">
    <path *ngFor="let path of NodePaths" [attr.d]="path.Path" [attr.stroke-width]="path.Width"
      [attr.stroke]="path.Stroke" (click)="onNodeSelect(path.Node)" fill="none">
      <title>{{path.Node.Name}}</title>
    </path>
    <path *ngFor="let path of TrackingPaths" [attr.d]="path.Path" [attr.stroke-width]="path.Width"
      [attr.stroke]="path.Stroke" (click)="onTrackingSelect(path.Tracking)" [attr.fill]="path.Tracking.Present?path.Stroke:'none'">
      <title>{{path.Tracking.Pic}}</title>
    </path>
  </svg>
</mat-card>

<div class="node-control-container" *ngIf="NodeSelected">
  <mat-card>
      <div>
        <span>
          Node {{NodeSelected.Name}}
        </span>
          <a routerLink="/node-details/{{NodeSelected.Id}}"  matTooltip="Details"><mat-icon>description</mat-icon></a>
        
        
      </div>
      <div>
        <button mat-button (click)="onAddParcel(NodeSelected)"><mat-icon>add</mat-icon></button>
        <button mat-button [ngClass]="{
                    'is-start':true,
                    'is-inactive': NodeSelected.IsStopped}" ng-show (click)="onStart(NodeSelected)"><mat-icon>play_arrow</mat-icon></button>
        <button mat-button color="warn" [ngClass]="{
                      'is-stop':true,
                      'is-inactive': !NodeSelected.IsStopped}" (click)="onStop(NodeSelected)"><mat-icon>stop</mat-icon></button>
      </div>
  </mat-card>
</div>
<div class="tracking-control-container"  *ngIf="NodeSelected" >  
    <mat-card *ngFor="let tracking of getTrackings(NodeSelected.Id)">
      <div>
        <div>
          <span>Pic {{tracking.Pic}}</span>
        </div>
        <div>
          <span>Position {{tracking.CurrentPosition | number:'1.3'}}</span>
        </div>
        <div>
          <button mat-button color="warn" (click)="onRemoveTracking(tracking)"><mat-icon>delete_forever</mat-icon></button>
        </div>
      </div>
    </mat-card>
</div>
<div class="clear"></div>
<div>
  <span>
    <h5> Updated:</h5>
  </span>{{LastTracked| date :  "HH:mm:ss"}}
</div>