<h2 *ngIf="node" >{{node.name}} Details</h2>
<mat-card *ngIf="node" class="half-width content">
  <mat-form-field class="full-width">
    <mat-label>Id:</mat-label>
    <input matInput [(ngModel)]="node.id" placeholder="Id" disabled>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Name:</mat-label>
    <input matInput [(ngModel)]="node.name" placeholder="Name">
  </mat-form-field> 
  <mat-form-field class="full-width">
    <mat-label>DefaultNextId</mat-label>
    <mat-select [(ngModel)]="node.defaultNextId">
      <mat-option *ngFor="let node of nodes" [value]="node.id">
        <a routerLink="/node-details/{{node.defaultNextId}}">
          <mat-icon>menu</mat-icon>
        </a>
        {{node.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>DefaultNextOccurs:</mat-label>
    <input matInput [(ngModel)]="node.defaultNextOccurs" placeholder="DefaultNextOccurs">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>DefaultNextContinues:</mat-label>
    <input matInput [(ngModel)]="node.defaultNextContinues" placeholder="DefaultNextContinues">
  </mat-form-field>
    <mat-slide-toggle [(ngModel)]="node.isStopped" name="IsStopped" disabled>IsStopped</mat-slide-toggle>
</mat-card>
<mat-card *ngIf="node" class="half-width content">
  <mat-form-field class="full-width">
    <mat-label>Speed:</mat-label>
    <input matInput [(ngModel)]="node.speed" placeholder="Speed">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Size:</mat-label>
    <input matInput [(ngModel)]="node.size" placeholder="Size">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>PositionX:</mat-label>
    <input matInput [(ngModel)]="node.positionX" placeholder="PositionX">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>PositionY:</mat-label>
    <input matInput [(ngModel)]="node.positionY" placeholder="PositionY">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Rotation:</mat-label>
    <input matInput [(ngModel)]="node.rotation" placeholder="Rotation">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Curvature:</mat-label>
    <input matInput [(ngModel)]="node.curvature" placeholder="Curvature">
  </mat-form-field>
  <a routerLink="/node-actions/{{node.id}}">
    <mat-icon>menu</mat-icon>
  </a>
</mat-card>
<mat-card *ngIf="node" class="full-width content">
  <button mat-raised-button (click)="onSaveNode()">Save</button>
  <button mat-raised-button (click)="onDeleteNode()">Delete</button>
  <button mat-raised-button (click)="onDuplicateNode()">Duplicate</button>
</mat-card>