<?xml version="1.0" encoding="utf-8"?>
<MessageServiceConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MessagesConfig>    
        <MessageConfig>
          <MessageType>Event</MessageType>
          <MessageId>30</MessageId>
          <ReplyFieldName>11</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields />
        </MessageConfig>
        <MessageConfig>
          <MessageType>DestinationRequest</MessageType>
          <MessageId>10</MessageId>
          <ReplyFieldName>11</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>DestinationRequest</MessageType>
          <MessageId>15</MessageId>
          <ReplyFieldName>11</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>DestinationRequest</MessageType>
          <MessageId>16</MessageId>
          <ReplyFieldName>11</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>SortReport</MessageType>
          <MessageId>20</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelOriginalDestination</FieldName>
              <DefaultOrder>10</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>OriginalDestinationState</FieldName>
              <DefaultOrder>11</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelActualDestination</FieldName>
              <DefaultOrder>12</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>DestinationTranslateState</FieldName>
              <DefaultOrder>13</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>8</MinLength>
              <MaxLength>8</MaxLength>
              <FieldName>UpdateState</FieldName>
              <DefaultOrder>20</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>Recirculations</FieldName>
              <DefaultOrder>25</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>SortReport</MessageType>
          <MessageId>21</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelOriginalDestination</FieldName>
              <DefaultOrder>10</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>OriginalDestinationState</FieldName>
              <DefaultOrder>11</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelActualDestination</FieldName>
              <DefaultOrder>12</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>DestinationTranslateState</FieldName>
              <DefaultOrder>13</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>8</MinLength>
              <MaxLength>8</MaxLength>
              <FieldName>UpdateState</FieldName>
              <DefaultOrder>20</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>Recirculations</FieldName>
              <DefaultOrder>25</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>SortReport</MessageType>
          <MessageId>22</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelOriginalDestination</FieldName>
              <DefaultOrder>10</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>OriginalDestinationState</FieldName>
              <DefaultOrder>11</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelActualDestination</FieldName>
              <DefaultOrder>12</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>8</MinLength>
              <MaxLength>8</MaxLength>
              <FieldName>UpdateState</FieldName>
              <DefaultOrder>20</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>SortReport</MessageType>
          <MessageId>23</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>4</MinLength>
              <MaxLength>4</MaxLength>
              <FieldName>ParcelLength</FieldName>
              <DefaultOrder>4</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelOriginalDestination</FieldName>
              <DefaultOrder>10</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>OriginalDestinationState</FieldName>
              <DefaultOrder>11</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelActualDestination</FieldName>
              <DefaultOrder>12</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>DestinationTranslateState</FieldName>
              <DefaultOrder>13</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData1</FieldName>
              <DefaultOrder>15</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData2</FieldName>
              <DefaultOrder>16</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData3</FieldName>
              <DefaultOrder>17</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>200</MaxLength>
              <FieldName>ScannerData4</FieldName>
              <DefaultOrder>18</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>8</MinLength>
              <MaxLength>8</MaxLength>
              <FieldName>UpdateState</FieldName>
              <DefaultOrder>20</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelEntrancePoint</FieldName>
              <DefaultOrder>21</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelEntranceState</FieldName>
              <DefaultOrder>22</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>14</MinLength>
              <MaxLength>14</MaxLength>
              <FieldName>ParcelExitPoint</FieldName>
              <DefaultOrder>23</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>ParcelExitState</FieldName>
              <DefaultOrder>24</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
        <MessageConfig>
          <MessageType>HostpicRequest</MessageType>
          <MessageId>0</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>false</OutputFieldName>
          <EnabledFields />
        </MessageConfig>
		    <MessageConfig>
          <MessageType>DestinationReply</MessageType>
          <MessageId>11</MessageId>
          <ReplyFieldName>0</ReplyFieldName>
          <OutputFieldName>true</OutputFieldName>
          <EnabledFields>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>5</MinLength>
              <MaxLength>5</MaxLength>
              <FieldName>Pic</FieldName>
              <DefaultOrder>0</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>10</MinLength>
              <MaxLength>10</MaxLength>
              <FieldName>Hostpic</FieldName>
              <DefaultOrder>2</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>VariableLength</LengthType>
              <MinLength>30</MinLength>
              <MaxLength>100</MaxLength>
              <FieldName>Hostdata</FieldName>
              <DefaultOrder>3</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>3</MinLength>
              <MaxLength>3</MaxLength>
              <FieldName>ParcelOriginalDestination</FieldName>
              <DefaultOrder>10</DefaultOrder>
            </MessageField>
            <MessageField>
              <Order>0</Order>
              <LengthType>FixedLength</LengthType>
              <MinLength>1</MinLength>
              <MaxLength>1</MaxLength>
              <FieldName>DestinationTranslateState</FieldName>
              <DefaultOrder>13</DefaultOrder>
            </MessageField>
          </EnabledFields>
        </MessageConfig>
   
  </MessagesConfig>
</MessageServiceConfig>