<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by  (Vanderlande Industries B.V.) -->
<SorterNodesConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<NodesConfig>
		<Node>
			<Id>bada1f62-c68d-4c73-89aa-fe6211be31fd</Id>
			<Name>BF020101</Name>
			<Speed>2000</Speed>
			<Size>109500</Size>
			<PositionX>130500</PositionX>
			<PositionY>25500</PositionY>
			<Rotation>180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>e8c3eb02-70f0-425d-8c6c-213c9c80330d</DefaultNextId>
			<DefaultNextOccurs>109500</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>e8c3eb02-70f0-425d-8c6c-213c9c80330d</Id>
			<Name>BF020102</Name>
			<Speed>2000</Speed>
			<Size>8184</Size>
			<PositionX>20700</PositionX>
			<PositionY>25500</PositionY>
			<Rotation>-90</Rotation>
			<Curvature>-180</Curvature>
			<DefaultNextId>6e7938cf-103f-412b-a35e-756350796c39</DefaultNextId>
			<DefaultNextOccurs>5900</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>6e7938cf-103f-412b-a35e-756350796c39</Id>
			<Name>BF020103_SCALE</Name>
			<Speed>2000</Speed>
			<Size>6000</Size>
			<PositionX>21000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>0</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>f5640b2c-b99d-4174-be30-c6ed7340fce8</DefaultNextId>
			<DefaultNextOccurs>6000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>f5640b2c-b99d-4174-be30-c6ed7340fce8</Id>
			<Name>BF020104_CAMERA</Name>
			<Speed>2000</Speed>
			<Size>8775</Size>
			<PositionX>27200</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>0</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>83766678-4659-4a36-b04e-e7c947379cfe</DefaultNextId>
			<DefaultNextOccurs>8775</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>7bf7c40d-8349-464d-8186-24c28adf8622</Id>
			<Name>BF020301</Name>
			<Speed>2000</Speed>
			<Size>5500</Size>
			<PositionX>125050</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>0</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>1d73f89a-ea54-44f0-ab5b-aec93704a725</DefaultNextId>
			<DefaultNextOccurs>5500</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>1d73f89a-ea54-44f0-ab5b-aec93704a725</Id>
			<Name>BF020302</Name>
			<Speed>2000</Speed>
			<Size>8184</Size>
			<PositionX>130700</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>90</Rotation>
			<Curvature>-180</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>5984</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>9dd072c8-d08f-4217-9d07-158595e48c7c</Id>
			<Name>INFEED_110102_INC</Name>
			<Speed>1000</Speed>
			<Size>4000</Size>
			<PositionX>139500</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>b37bbb6e-fdd3-48f6-9e42-f6c2326de7ff</DefaultNextId>
			<DefaultNextOccurs>4000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>b37bbb6e-fdd3-48f6-9e42-f6c2326de7ff</Id>
			<Name>INFEED_110103_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>14000</Size>
			<PositionX>135200</PositionX>
			<PositionY>36250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bbd8edb5-1f42-4689-8f71-0718813a3982</DefaultNextId>
			<DefaultNextOccurs>13900</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>4c4ab928-acac-470e-834f-c9ef157f054a</Id>
			<Name>INFEED_110103_SCALE</Name>
			<Speed>1000</Speed>
			<Size>14000</Size>
			<PositionX>135200</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bbd8edb5-1f42-4689-8f71-0718813a3982</DefaultNextId>
			<DefaultNextOccurs>4000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>bbd8edb5-1f42-4689-8f71-0718813a3982</Id>
			<Name>INFEED_110105</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>121000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>20000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>ec64d074-3b34-44d9-aeeb-b4b818a2db34</Id>
			<Name>INFEED_110202</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>110000</PositionX>
			<PositionY>46500</PositionY>
			<Rotation>-90</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>4265ba77-23ae-4e7e-bdbe-2a0b39a47bea</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>15f077c9-4986-4628-9124-1c8321563d33</Id>
			<Name>INFEED_110203</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>110000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>16609039-2d32-44af-ba33-07bc482030ca</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>4265ba77-23ae-4e7e-bdbe-2a0b39a47bea</Id>
			<Name>INFEED_110203_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>110000</PositionX>
			<PositionY>36250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>83397e42-18e1-4d52-9ae8-af55db765557</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>16609039-2d32-44af-ba33-07bc482030ca</Id>
			<Name>INFEED_110205</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>101000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>40000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>83397e42-18e1-4d52-9ae8-af55db765557</Id>
			<Name>INFEED_110205_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>101500</PositionX>
			<PositionY>36750</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>40000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>3c739592-0260-46c4-8ede-00ca000a920c</Id>
			<Name>INFEED_110313</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>90000</PositionX>
			<PositionY>46500</PositionY>
			<Rotation>-90</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>68852d20-88d1-41bb-9e05-2a2b5b7c236a</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>dcbdb154-fe1b-4b29-91f1-8a4b8f2c50ed</Id>
			<Name>INFEED_110314</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>90000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>e0add652-5a98-49a4-829c-6404c6201126</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>68852d20-88d1-41bb-9e05-2a2b5b7c236a</Id>
			<Name>INFEED_110314_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>90000</PositionX>
			<PositionY>36250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>7e56ffba-2050-49f4-b18f-28f392ad23b8</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>e0add652-5a98-49a4-829c-6404c6201126</Id>
			<Name>INFEED_110315</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>81000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>60000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>7e56ffba-2050-49f4-b18f-28f392ad23b8</Id>
			<Name>INFEED_110315_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>81500</PositionX>
			<PositionY>36750</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>60000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>e4a76517-58d9-40e4-80da-bb17d123b1ee</Id>
			<Name>INFEED_110402</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>70000</PositionX>
			<PositionY>46500</PositionY>
			<Rotation>-90</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>1ce0e7b3-6e6c-4f3b-8c9e-c07bdf5f9d73</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>bd7d7281-ed8c-4821-b0c6-72e85c4d092a</Id>
			<Name>INFEED_110403</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>70000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>35264be8-dcfe-4975-ad3d-35711709dee3</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>1ce0e7b3-6e6c-4f3b-8c9e-c07bdf5f9d73</Id>
			<Name>INFEED_110403_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>70000</PositionX>
			<PositionY>36250</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>92b6e6e9-7301-437f-b196-c716749051ef</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>35264be8-dcfe-4975-ad3d-35711709dee3</Id>
			<Name>INFEED_110405</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>61000</PositionX>
			<PositionY>37250</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>80000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>92b6e6e9-7301-437f-b196-c716749051ef</Id>
			<Name>INFEED_110405_BYPASS</Name>
			<Speed>1000</Speed>
			<Size>16000</Size>
			<PositionX>61500</PositionX>
			<PositionY>36750</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>16000</DefaultNextOccurs>
			<DefaultNextContinues>80000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>2846b879-961a-4625-89e6-3e4f6c1a1e98</Id>
			<Name>INFEED_110505</Name>
			<Speed>750</Speed>
			<Size>6600</Size>
			<PositionX>35050</PositionX>
			<PositionY>30500</PositionY>
			<Rotation>-135</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>bada1f62-c68d-4c73-89aa-fe6211be31fd</DefaultNextId>
			<DefaultNextOccurs>6600</DefaultNextOccurs>
			<DefaultNextContinues>100000</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>71b72981-59fe-4a56-8846-f0d898a18c68</Id>
			<Name>SOT01</Name>
			<Speed>1000</Speed>
			<Size>7500</Size>
			<PositionX>38000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>c52098f4-dbe8-44fe-94c6-6d45380ebd65</DefaultNextId>
			<DefaultNextOccurs>7500</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>c52098f4-dbe8-44fe-94c6-6d45380ebd65</Id>
			<Name>SOT01_2</Name>
			<Speed>1000</Speed>
			<Size>6000</Size>
			<PositionX>43000</PositionX>
			<PositionY>15250</PositionY>
			<Rotation>-90</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>4c572a31-ddd6-42ec-841c-b5a49e5a7598</DefaultNextId>
			<DefaultNextOccurs>6000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>4c572a31-ddd6-42ec-841c-b5a49e5a7598</Id>
			<Name>SOT01_3</Name>
			<Speed>1000</Speed>
			<Size>11000</Size>
			<PositionX>43000</PositionX>
			<PositionY>9500</PositionY>
			<Rotation>-180</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>11000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>c452b3c0-6335-47fd-804e-11000a184a68</Id>
			<Name>SOT02</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>40500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>6aa63966-11c2-4dc0-b528-eaddca2d440a</Id>
			<Name>SOT03</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>46000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>2ad3f3af-c303-4f3c-929a-89f0ca532bd5</Id>
			<Name>SOT04</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>48500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>44b3e889-efe2-45eb-8772-5cd8d730a170</Id>
			<Name>SOT05</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>54000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>d30887e2-cfab-4ff9-ac98-7bbec0a64f63</Id>
			<Name>SOT06</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>59500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>6bd84179-ec37-4918-93ba-d420aaa3c6a5</Id>
			<Name>SOT07</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>65000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>ab3c6c29-23ef-4c3f-8420-46be252ea974</Id>
			<Name>SOT08</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>70500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>c45f08d6-2ced-46b0-a724-7f50f96f6653</Id>
			<Name>SOT09</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>76000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>1971087b-9283-4bd1-be24-992d32ce7d52</Id>
			<Name>SOT10</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>81500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>54bc5fc9-689d-4206-9f52-d110d57c2a57</Id>
			<Name>SOT11</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>87000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>125682ce-b3ad-406b-9a3a-0001bcf7d7b3</Id>
			<Name>SOT12</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>92500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>e054f322-3101-43b9-8729-faad8680d968</Id>
			<Name>SOT13</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>98000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>04816660-023c-4d5e-bb85-1cacf90e4434</Id>
			<Name>SOT14</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>103500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>3157faae-c8fa-4a1b-a856-0f60d56e14d8</Id>
			<Name>SOT15</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>109000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>1c6e76f2-ccf2-4454-a017-3b75604e961a</Id>
			<Name>SOT16</Name>
			<Speed>1000</Speed>
			<Size>15000</Size>
			<PositionX>114500</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>1865f220-8d2e-486e-a578-473c5652479b</Id>
			<Name>SOT17</Name>
			<Speed>1000</Speed>
			<Size>9000</Size>
			<PositionX>120000</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>-45</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>3e6c189a-c89d-4872-bc71-c0b4578aac29</DefaultNextId>
			<DefaultNextOccurs>9000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>3e6c189a-c89d-4872-bc71-c0b4578aac29</Id>
			<Name>SOT17_2</Name>
			<Speed>1000</Speed>
			<Size>13000</Size>
			<PositionX>126000</PositionX>
			<PositionY>14250</PositionY>
			<Rotation>0</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>13d2e513-a19f-4474-a6c9-f4d15524af1f</DefaultNextId>
			<DefaultNextOccurs>13000</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>13d2e513-a19f-4474-a6c9-f4d15524af1f</Id>
			<Name>SOT17_3</Name>
			<Speed>1000</Speed>
			<Size>21000</Size>
			<PositionX>139000</PositionX>
			<PositionY>14250</PositionY>
			<Rotation>90</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>00000000-0000-0000-0000-000000000000</DefaultNextId>
			<DefaultNextOccurs>0</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
		<Node>
			<Id>83766678-4659-4a36-b04e-e7c947379cfe</Id>
			<Name>SPO229</Name>
			<Speed>2000</Speed>
			<Size>88640</Size>
			<PositionX>36350</PositionX>
			<PositionY>20250</PositionY>
			<Rotation>0</Rotation>
			<Curvature>0</Curvature>
			<DefaultNextId>7bf7c40d-8349-464d-8186-24c28adf8622</DefaultNextId>
			<DefaultNextOccurs>88640</DefaultNextOccurs>
			<DefaultNextContinues>0</DefaultNextContinues>
			<IsStopped>false</IsStopped>
		</Node>
	</NodesConfig>
</SorterNodesConfig>
