.sorter-area-container{
    overflow-y:scroll;
    overflow-x:scroll;
    float: left;
    width: 80%; 
    height:75%;
    margin: 2px;

}
.node-control-container{
    float:left;
    width: 15%;
    margin: 1px;
}
.action-control-container{
    float:left;
    width: 15%;
    margin: 1px;
}
.tracking-control-container{
    float:left;
    width: 15%;
    margin: 1px;
}
.clear{
    clear: left;
}
.sorter-area{
    
    width: 500%; 
    height:500%;
}