<?xml version="1.0" encoding="utf-8"?>
<SorterServiceConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TickInterval>100</TickInterval>
  <TimeSpeed>1</TimeSpeed>
  <NodeConfig>
    <NodeConfig>
      <Name>N01</Name>
      <Speed>100</Speed>
      <Size>300</Size>
      <Children>
        <NodeConfigDistance>
          <Name>N02</Name>
          <Distance>100</Distance>
        </NodeConfigDistance>
      </Children>
    </NodeConfig>
    <NodeConfig>
      <Name>N02</Name>
      <Speed>100</Speed>
      <Size>300</Size>
      <Children>
        <NodeConfigDistance>
          <Name>N03</Name>
          <Distance>100</Distance>
        </NodeConfigDistance>
      </Children>
    </NodeConfig>
    <NodeConfig>
      <Name>N03</Name>
      <Speed>100</Speed>
      <Size>300</Size>
      <Children>
        <NodeConfigDistance>
          <Name>N04</Name>
          <Distance>100</Distance>
        </NodeConfigDistance>
      </Children>
    </NodeConfig>
	<NodeConfig>
      <Name>N04</Name>
      <Speed>100</Speed>
      <Size>300</Size>
      <Children/>
  </NodeConfig>
  </NodeConfig>
</SorterServiceConfig>