<?xml version="1.0" encoding="utf-8"?>
<CommunicationConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocalIp>127.0.0.1</LocalIp>
  <LocalEndPoint>5002</LocalEndPoint>
  <RemoteIp>127.0.0.1</RemoteIp>
  <RemoteEndPoint>5001</RemoteEndPoint>  
  <ServiceIp>127.0.0.1</ServiceIp>
  <ServiceEndPoint>9999</ServiceEndPoint>  
  
  <StartChar>0x2</StartChar>
  <EndChar>0x3</EndChar>
</CommunicationConfig>